@font-face {
  font-family: "CMU Serif";
  src: url("fonts/cmunrm.otf") format("truetype");
}

/* answer response colors 

	correct green, incorrect red,
	your solution : purple #26004d dark #cd9bff light
	provided : gold #ffe766 light #b29600 dark

*/

div.buildAnswer p.correctNess, div.buildAnswer p.soln {
    font-family: 'Bree serif';
    display: block;
    clear: both;
    text-align: left;
}

.correct {
	color: #5c7b1e;
	background: #d6ebad;
}

.incorrect {
	color: #660000;
	background: #ff7f7f;
}

.correctNess {
	font-size: 30pt;
	padding: 2%;
	margin: 0 0 4% 7%;
	float: left;
} 

.soln {
	color: #004d4d;
	font-size: 22pt;
	margin: 5% auto;
	width: 70%;
}

button {
	color: white;
	background: #004d4d;
	border: none;
	border-radius: 4px;
	font-family: Georgia;
	font-size: 14pt;
	height: 60px;
	width: 20%;
	margin-top: 10%;
	float: left;
	-webkit-transition: background, 0.1s;
	-moz-transition: background, 0.1s;
	transition: background, 0.1s;
}

button.reveal {
	position: absolute;
	bottom: 5%;
	left: 5%;
}

div.gui button.showProvided {
	height: 80px;
	width: 30%;
	margin: -20% 3% 5% 3%;
	display: inline-block;
	float: none;
	color: white;
	background: #660000; 
}

button:hover {
	color: white;
	background: green;
	cursor: pointer;
}

div.gui button.showProvided:hover {
	color: #660000;
	background: white; 
}


button.check_answer {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

button.gui {
	width: 100px;
	height: 50px;
	display: inline;
	margin: 0 0 2% 1%;
	font-size: 16pt;
}

div.answer {
	overflow: hidden;
	padding: 15% 0;
}

div.gui {
	position: relative;
	text-align: center;
	width: 100%;
	margin: 5% auto 20% auto;
	padding-bottom: 5%;
	overflow: auto;
	border-radius: 20px;
	box-shadow: 0 0 15px 5px #e0e0e0;
}

div.answerContainer {
	min-height: 275px;
	width: 90%;
	margin: 5% auto 3% auto;
	border: solid 1px #00cdcd;
	box-shadow: 0 0 10px 2px #00cdcd;
	border-radius: 20px;
}

div.buildAnswer {
	font-size: 25pt;
}

div.buildAnswer p {
	display: inline-block;
}

div.buildAnswer hr {
	width: 75%;
}

div.buttons {
	width: 90%;
	margin: 0 auto;
}

div.gui button.submit, div.gui button.clear {
	display: inline-block;
	margin: 0 5% 4% 0;
	height: 80px;
	width: 25%;
	font-size: 20pt;
	float: right;
}

div.gui button.submit {
	clear: right;
}

div.inputs {
	width: 60%;
	height: 100%;
	padding: 0;
	margin-left: 5%;
	float: left;
}

#pi {
	background-color: #008080;
	position: fixed;
	top: 0;
	left: 0;
	width: 10%;
	color: white;
	font-size: 35pt;
	float: left;
	height: 10%;
}

#home {
	color: white;
	background: #008080;
	width: 100%;
	font-size: 14pt;
	font-family: Georgia;
	margin: 0;
	padding: 0;
	border-radius: 0;
	height: 100%;
}

#home:hover {
	color: white;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}


body {
	background-color: #f1f1f1;
	font-family: "CMU serif";
	margin: 0;
}

#content {
	margin-top: 10%;
}

#heading {
	background-color: #008080;
	position: fixed;
	top: 0;
	left: 10%;
	text-align: left;
	width: 98%;
	height: 10%;
	z-index: 1;
}

#heading h2, #heading h3 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 1%;
	margin: 0 0 0 2%;
	display: inline;
	font-size: 22pt;
}

#heading h2 {
	font-family: Georgia;
	font-weight: normal;
	color: white;
}

#testname {
	font-family: "CMU serif";
	color: rgba(170, 170, 170, 0.5);
	padding-left: .5em;
}

#currproblem {
	width: 100%;
}

#heading, #menu {
	float: left;
}

#menu {
	position: fixed;
	top: 15%;
	left: 0;
	width: 16%;
	height: 100%;
}

.hyphen, .selectedHyphen {
	cursor: pointer;
	font-size: 20pt;
	height: .4em;
	margin-bottom: 0.2em;
	-webkit-transition: all, 0.12s;
	-moz-transition: all, 0.12s;
	transition: all, 0.12s;
}

.hyphen {
	background: #879499;
	width: 2.4em;
}

.selectedHyphen {
	background: #616e72;
	width: 3.7em;
}

#menu h2 {
	font-family: 'Bree serif';
	color: #616e72;
	font-size: 22pt;
	margin-left: 1.25em;
}

#menu li {
	color: #879499;
	cursor: pointer;
	font-family: Georgia, "CMU serif", Verdana, sans-serif;
	font-weight: 900;
	font-size: 20pt;
	list-style-type: none;
	line-height: .25em;
	margin: 0;
	text-align: center;
	-webkit-transition: color, 0.12s;
	-moz-transition: color, 0.12s;
	transition: color, 0.12s;
}

#menu li:hover {
	color: white;
}

#problems {
	float: right;
	font-weight: lighter;
	color: #303030;
	position: relative;
	width: 82%;
	margin-right: 2%;
	padding-bottom: 10%;
	height: 100%;
	min-height: 100vh;
	font-size: 16pt;
	white-space: pre-wrap;
}

#problems span.mjx-chtml {
	font-size: 27pt;
}

#problems h3 {
	margin: 0;
}

#problems > div {
	background-color: white;
	position: relative;
	width: 90%;
	padding: 7% 5%;
	margin: 3% 0;
	box-shadow: 0px 0px 2px 2px rgba(150, 150, 150, 0.4);
	min-height: 30vh;
	overflow: auto;
}

#problems img {
	text-align: center;
	height: 300px;
	width: auto;
	margin: 3% auto 10% auto;
}
